@charset "utf-8";

html, body, div, p, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, a, iframe, table, th, td {
	margin: 0;
	padding: 0;
	font-family: 华文细黑, Arial;
	font-weight: normal;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 华文细黑, Arial;
}
ul, li {
	list-style-type: none;
}
.triangle-right,
.triangle-left,
.triangle-down{
	display: inline-block;
	width: 0;
    height: 0;
    border-width: 6px 5px;
    border-style: solid;
    border-color: transparent;	
}
.triangle-right{
    border-left-color: #168ac4;
    margin-right:-3px;
}
.triangle-left{
	border-right-color: #168ac4;
    margin-left:-3px;
}
.triangle-down{
    border-top-color: #168ac4;
}
.fixed:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
a:focus {
    text-decoration: none;
}
.app {
    background-color: #fff;
}
.navbar-absolute-top {
	border-bottom:0 none;
}

.navbar-app {
    color: #fff;
    background-color: #059eec;
}
.activity .navbar-app {
    opacity:0;
    z-index:-1;
}
.has-navbar-top .app-body {
	padding-top:50px;
}
.navbar-absolute-top .pull-left .fa {
	font-size:32px;
	color:#fff;
	vertical-align:middle;
	margin-top:-3px;
}
.navbar-absolute-top .pull-right .fa{
    font-size:28px;
    color:#fff;
    vertical-align:middle;
}
.scrollable {
	background-color:#f4f4f4;
}
.my-pull-left {
	position: absolute;
	left:0;
	top:12px;
}
.countDown-btn{
	background-color: #feb74d!important;
}
.countDown-greybtn{
	background-color:#c9c9c9!important;
}
/********按钮样式*******/
.submit-btn {
	margin:30px 0;
	padding:0 10px;
}
.submit-btn .btn {
	width:100%;
	height:47px;
	border:0 none;
	background-color:#059eec;
}
.submit-btn-red .btn {
	background-color:#ef4c3b;
}
.submit-btn-gray .btn {
	background-color:#dcdcdc;
}
.submit-btn .btn[disabled] {
	background-color: #c9c9c9;
}
.disabled-btn{
	background-color: #c9c9c9!important;
}

/********list-group公用样式*******/
.sidebar-right .list-group {
	margin: 0;
}
.sidebar-right .list-group-item {
	border: 0 none;
}
.sidebar-right .list-group-item.active {
	border: 0 none;
}
.list-group {
	margin:10px 0;
}
.list-group-item, a.list-group-item {
	font-size:15px;
	margin-top:-1px;
	padding:12px 20px 12px 36px;
	border-bottom: 1px solid #dcdcdc;
	border-top: 1px solid #dcdcdc;
}
.list-group-item .pull-left {
	position:absolute;
	left:10px;
	top:14px;
	font-size:18px;
	color:#059eec;
}
.list-group-item .pull-right {
	position:absolute;
	right:10px;
	top:4px;
	color:#ccc;
	font-size: 24px;
}
.list-group-item .item-note {
	float:right;
	display:inline-block;
	margin-right:5px;
	color:#999;
	font-size: 14px;
}

/********form-group公用样式*******/
.form-group-box {
	margin: 10px 0;
}
.form-group {
	position:relative;
	padding:8px 10px;
	margin:-1px 0 0 -15px !important;
	background-color:#fff;
	border-top:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
}
.form-group .submit-btn {
	position:absolute;
	right:0;
	top:-1px;
	padding:0;
	margin:0;
}
.form-group .submit-btn button {
	height:52px;
	font-size:14px;
	padding:0 10px;
	border-radius:0;
	background-color:#feb74d;
}
.form-group label {
	font-size:15px;
	white-space:nowrap;
	padding-right:0;
}
.form-group input {
	font-size:15px;
	padding:0;
	border:0 none !important;
}
.form-group-box {
	margin:10px 0;
}

/********table表格公用样式*******/
.table-list .thead {
	display: flex;
	margin-top:-1px;
	font-weight:bold;
	background-color: #f5f8fd;
	border-bottom: 1px solid #c9c9c9;
	border-top: 1px solid #c9c9c9;
	width:100%;
}
.table-list .tbody {
	padding:0 10px;
	margin-top:1px;
	background-color: #fff;
	border-bottom: 1px solid #c9c9c9;
}
.table-list .tbody .tr {
	display: flex;
	margin-top:-1px;
	border-bottom: 1px solid #c9c9c9;
	border-top: 1px solid #c9c9c9;
}	
.table-list .tbody .tr:first-child {
	border-top:0 none;
}
.table-list .tbody .tr:last-child {
	border-bottom:0 none;
}
.table-list .col {
	flex:1;
	padding:10px 5px;
	text-align:center;
}
.table-list .tbody .col {
	padding:13px 5px;
}
.nodata-tip {
	padding: 10px 0;
	text-align: center;
}


/********自定义图标样式*******/
em[class*="-icon"] {
	display: inline-block;
	background-position:center center;
	background-repeat:no-repeat;
	background-color:transparent;
	background-size: contain;
}
.auth-blue-icon {
	width:37px;
	height:20px;
	background-image:url(img/icon/auth-blue-icon.png);
}

/********银行图标样式*******/
.ZX-icon,
.JT-icon,
.ZS-icon,
.YZ-icon,
.PA-icon,
.SF-icon,
.MS-icon,
.GF-icon,
.PF-icon,
.SH-icon,
.BJ-icon,
.GS-icon,
.NY-icon,
.JS-icon,
.ZG-icon,
.XY-icon,
.GD-icon,
.HX-icon{
	width:20px;
	height:20px;
}
.ZX-icon { /*中信银行*/
	background-image:url(img/icon/bank/ZX-icon.png);
}
.JT-icon { /*交通银行*/
	background-image:url(img/icon/bank/JT-icon.png);
}
.ZS-icon { /*招商银行*/
	background-image:url(img/icon/bank/ZS-icon.png);
}
.YZ-icon { /*邮政银行*/
	background-image:url(img/icon/bank/YZ-icon.png);
}
.PA-icon { /*平安银行*/
	background-image:url(img/icon/bank/PA-icon.png);
}
.SF-icon { /*深圳发展银行*/
	background-image:url(img/icon/bank/SF-icon.png);
}
.MS-icon { /*民生银行*/
	background-image:url(img/icon/bank/MS-icon.png);
}
.GF-icon { /*广东发展银行*/
	background-image:url(img/icon/bank/GF-icon.png);
}
.PF-icon { /*浦东发展银行*/
	background-image:url(img/icon/bank/PF-icon.png);
}
.SH-icon { /*上海银行*/
	background-image:url(img/icon/bank/SH-icon.png);
}
.BJ-icon { /*北京银行*/
	background-image:url(img/icon/bank/BJ-icon.png);
}
.GS-icon { /*工商银行*/
	background-image:url(img/icon/bank/GS-icon.png);
}
.NY-icon { /*农业银行*/
	background-image:url(img/icon/bank/NY-icon.png);
}
.JS-icon { /*建设银行*/
	background-image:url(img/icon/bank/JS-icon.png);
}
.ZG-icon { /*中国银行*/
	background-image:url(img/icon/bank/ZG-icon.png);
}
.XY-icon { /*兴业银行*/
	background-image:url(img/icon/bank/XY-icon.png);
}
.GD-icon { /*光大银行*/
	background-image:url(img/icon/bank/GD-icon.png);
}
.HX-icon { /*华夏银行*/
	background-image: url(img/icon/bank/Hx-icon.png);
}
/*******提示******/
.public-tip {
	color: #999;
	margin: 10px;
	position:relative;
}
.public-tip .fa {
	float: left;
	color: #eb6100;
	font-size: 20px;
	margin-top: -1px;
}
.public-tip p {
	margin:0;
	padding-left:24px;
}
.public-tip .red {
	color:#ef4c3b;
}
.public-tip .black {
	color:#666;
	font-weight:bold;
}

.public-tip p.fix-font{
    font-size:12px;
}
.public-tip span.fix-link{
	color:#059eec;
	position:absolute;
	right:0;
	top:0;
	font-size:12px;
}
.fix-text{
	text-align:center;
	font-size:14px;
	color:#999;
}
/*****银行列表样式*****/
.bank-list a {
	position:relative;
	padding:15px 10px 15px 65px;
}
.bank-list a img {
	position:absolute;
	left:10px;
	top:17px;
	height:40px;
}
.bank-list h5 {
	font-size:18px;
	font-weight:bold;
	margin-bottom:5px;
	font-family:"Microsoft Yahei";
}
.bank-list p {
	margin:0;
	color:#999;
	font-size: 14px;
}
.bank-list .black {
	color:#666;
}
.bank-list .fa {
	position:absolute;
	right:15px;
	top:25px;
	font-size:20px;
	color:#ccc;
}

/*****产品列表样式*****/
.product-list .product-box {
    font-size: 15px;
	padding-bottom:12px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#fff;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}
.product-list .product-box .col-xs-4 {
	padding-left: 15px;
	padding-right: 0;
}
.product-list .product-box .col-xs-6 {
	padding: 0;
}
.product-list .product-box .col-xs-8 {
	padding:0 10px 0 0;
}
.product-list .product-box .col-xs-8 {
	padding:0 10px 0 10px;
}
.product-list .product-box figure{
    border-right:1px dashed #ccc;
    padding-top: 10px;
    padding-right:10px;
    margin-top:18px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #999999;
}
.product-list .product-box figure p:last-child{
    color:#ef4c3b;
    font-size:18px;
    margin-top:5px;
}
.product-list .product-box .ux-fig-right{
    color: #555;
    font-weight: bold;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
    max-width: 70%;
}

.product-list .product-box .ux-fig-right-span{
    color: #999999;
    font-size: 12px;
    font-weight: normal;
	margin-left:5px;
}
.product-list .product-box .ux-fig-right-first{
    color: #999999;
    text-align: center;
    font-size: 12px;
}
.product-list .product-box .ux-fig-right-last{
    color: #222;
	font-size:15px;
    text-align: center;
}
.product-list .product-box .ux-fig-right-last.red{
    color: #ef4c3b;
}
.product-list .product-box .ux-right{
    border-bottom: 1px solid #e5e5e5;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
	padding-left:2px;
}
.product-list .border-right{
    border-right:1px solid #e5e5e5;
}
.product-list .ml-30{
    margin-left: -30px;
}
/*******列表头部样式**********/
.list-group-div  .tit {
    position: relative;
    padding: 0px 10px;
    background-color: #f4f4f4;
    margin-bottom: 10px;
}
.list-group-div  .tit span {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-left: 4px solid #ef4c3b;
}
/**********列表样式***********/
.list-group-div .income-intro{
    margin-bottom: 10px;
    padding: 10px 10px 0px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
}
.list-group-div .income-intro.no-border{
    margin-bottom: 0;
    border-bottom: none;
}

.list-group-div .income-intro .list {
    margin-bottom: 0px;
    position: relative;
    padding-bottom: 1px;
    padding-left: 0;
}
.list-group-div .income-intro .list .item  {
    font-size: 14px;
    padding: 15px 5px 15px;
    border-bottom: 1px solid #ddd;
    color: #444;
    position: relative;
    display: block;
}
.list-group-div .income-intro .list .item:last-child{
    border-bottom: none;
}
.list-group-div .income-intro .list .content{
    background-color: #fff;
    padding-bottom: 10px;
    line-height: 30px;
}
.list-group-div .income-intro .list .item-note,.product-info-div .fund-intro .list .item-note {
    color: #888;
    font-size: 14px;
}
/*****checkbox样式*****/
.checkbox {
	margin:15px 0;
}
.checkbox label {
	padding-left:24px;
}
.checkbox label em {
	position:absolute;
	left:0;
	top:7px;
	font-size:20px;
	color:#ff7600;
}
.checkbox input {
	visibility:hidden;
}
.checkbox a {
	color:#eb6100;
}
.checkbox a i {
	font-style:normal;
	text-decoration:underline;
}

/**********底部版权***********/
.fund-bot {
	margin:30px 0;
	text-align:center;
}
.fund-bot span {
	color:#999;
	display:block;
}
.fund-bot .blue {
	display:inline-block;
	padding-left: 32px;
    position: relative;
	color:#059eec;
	font-size:15px;
	margin-bottom:5px;
}
.fund-bot .blue em {
	left:0;
    position: absolute;
    top:1px;
	height:18px;
	width:35px;
}

/*加载中样式   （勿删）*/
.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: rgba(000,000,000,0.4);
  /* position: relative; */
  position: absolute;
  z-index: 99999999;
  left: 0;
  top: 0;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.loading {
    width:100%;
    height:100%;
    position: absolute;
    background: transparent;
}

.ring {
    position: relative;
    display: inline-block;
    height: 96px;
    width: 96px;
    top: 50%;
    left: 0;
    /*margin-left: -48px;*/
    margin-top: -48px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
}

.ring:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    height: 56px;
    width: 56px;
    background: none repeat scroll 0 0 #2980b9;
    border-radius: 50%;
}

.ring .anim {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 999px;
    background: none repeat scroll 0 0 #94c7e7;
    -webkit-animation: ui-spinner-rotate-left 2s infinite;
    animation: ui-spinner-rotate-left 2s infinite;
    -webkit-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0;
}

.ring > span {
    position: absolute;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.ring > span.left {
    left: 0;
}

.ring > span.left .anim {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.ring > span.right {
    left: 50%;
}

.ring > span.right .anim {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: -100%;
    -webkit-transform-origin: 100% 50% 0;
    transform-origin: 100% 50% 0;
}

@keyframes ui-spinner-rotate-right {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes ui-spinner-rotate-left {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ui-spinner-rotate-right {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes ui-spinner-rotate-left {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}
/************页面尾部***********************/
 .tool-footer{
    height: 50px;
    font-size: 14px;
    padding-top: 15px;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    background-color: #fff;
}
.tool-footer .col-xs-7 {
	padding-left: 5px;
}
.tool-footer .col-xs-7 a {
	color: #059eec;
	padding: 5px;
}
 .tool-footer .toTop{
    background: url("img/icon/goTop_14.png") center center no-repeat transparent;
    width: 30px;
    height: 30px;
    background-size: 58%;
    margin-top: -7px;
}
 .tool-footer span{
    color: #555;
}
.tool-footer .col-xs-12:first-child {
	color:#007aff;
}
 .footer-info{
    background-color: #f4f4f4;
     height: 50px;
}
 .footer-info .footer-a{
    padding-top: 20px;
    padding-right:10px;
	color:#999;
}
 .footer-info .footer-a a{
    color: #999999;
    padding: 5px;
}
 .footer-info-p{
    text-align: center;
      background-color: #f4f4f4;
}
.footer-info-p .fund-bot p{
	margin-bottom: 5px;
}
.footer-info-p .fund-bot p a{
	color: #777777;
    display: inline-block;
    width: 144px;
    height: 34px;
    line-height: 34px;
    border: solid 1px #ccc;
    border-radius: 50px;
    background: url(img/tel.png) no-repeat 14px 9px;
    background-size: 10px;
}
.footer-info-p .auth-blue-icon{
    display:inline-block;
    height:20px;
    width:20px;
    background:url(img/icon/auth-blue-icon.png) no-repeat center center;
    background-size: 18px;
    vertical-align:middle;
}
.footer-info-p .auth-blue-icon2{
	top: 0px!important;
	height: 19px!important;
    width: 37px!important;
	background:url(img/icon/auth-blue-icon2.png) no-repeat center center;
	background-size: 18px 19px;
}
 .footer-info-p .fund-bot .blue{
    display: inline-block;
    position: relative;
    color: #059eec;
    font-size: 15px;
    margin-bottom: 5px;
}
  .footer-info-p .fund-bot span {
    color: #999;
    display: block;
}

/****底部：立即购买*****/
.scrollable-footer .bottom-button{
    text-align: center;
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 10px;
    color: #fff;
    background-color: #157dff;
    width: 90%;
    margin: 0 auto;
    border-radius: 4px;
}
.scrollable-footer .blue-button {
	background-color: #059eec;
}

.scrollable-footer .disabled-button {
    background-color: #cbcbcb;
}

.scrollable-footer .red-text {
	color: #e60012;
}
/******收藏样式**********/
.fa-star-o,.fa-star{
    color: #fc9a03;
}
/******颜色样式**********/
.red {
    color: #ec4955;
}
.green {
    color: #4fa461;
}
/****去除padding****/
.col-xs-12{
    padding-left:0px ;
    padding-right: 0px;
}
a:hover{
    text-decoration:blink;
}

/* 弱提示框 模版css (沈派) ********************** code begin *************************************/
.week-tip-modal-outter{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 99;
}
.week-tip-modal{ 
	width:100%;  
	height: 100%;
	position: relative;
	overflow: hidden;
}
.week-tip-modal .week-modal-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(000,000,000,0.5);
	left: 0;
	top: 0;
	z-index: -1;
}
.week-tip-modal .content{
	width: 80%;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	margin-top: 60%;
	background-color: #000;
	padding: 20px;
	border-radius: 5px;
	font-size: 16px;
}
@media (max-width:320px){
	.week-tip-modal .testModal{
		margin-top:40%!important;
	}
}
@media (min-width:375px){
	.week-tip-modal .testModal{
		margin-top:58%!important;
	}
}
@media (min-width:414px){
	.week-tip-modal .testModal{
		margin-top:60%!important;
	}
}
.fadeIn{
	-webkit-animation-name: fadeIn; /*动画名称*/
	-webkit-animation-duration: 0.5s; /*动画持续时间*/
	-webkit-animation-iteration-count: 1; /*动画次数*/
	-webkit-animation-delay: 0s; /*延迟时间*/
}
.fadeOut{
	-webkit-animation-name: fadeOut; /*动画名称*/
	-webkit-animation-duration: 0.5s; /*动画持续时间*/
	-webkit-animation-iteration-count: 1; /*动画次数*/
	-webkit-animation-delay: 0s; /*延迟时间*/
}
@-webkit-keyframes fadeIn {
	0% {
	opacity: 0; /*初始状态 透明度为0*/
	}
	100% {
	opacity: 1; /*结尾状态 透明度为1*/
	}
}
@-webkit-keyframes fadeOut {
	0% {
	opacity: 1; /*初始状态 透明度为0*/
	}
	100% {
	opacity: 0; /*结尾状态 透明度为1*/
	}
}
.app{
	-webkit-transform:none;
	transform:none;
}
.scrollable-footer{
	position: fixed;
}
/* 弱提示框 模版css ********************** code end *************************************/
input[type="text"],
input[type="password"]{
	pointer-events: auto!important;
}
/* 选择银行卡的div 所有支付页面 */
.choose-bank{
	border: 1px solid #cccccc;
	border-radius:6px;
	background-color:#f4f4f4;
	padding:4% 3%;
	overflow:hidden;
	position:relative;
	margin-top: 6%;
}
.choose-bank img{
	float :left;
	width: 10%;
	margin: 2% 10px 0 0;
}
.choose-bank .bank-logo{
	width: inherit;	
}
.choose-bank .bank-name{
	font-size:18px;
}
.choose-bank .limit{
	color:#a6a6a6;
	margin-top: 5px;
}
.choose-bank .right{
	position: absolute;
    right: 3%;
    top: 50%;
    font-size: 30px;
    color: #cccccc;
    margin-top: -15px;
}
.pay-btn{
	width: 88%;
    text-align: center;
    padding: 4% 0;
    background-color: #059eec;
    margin: 31px auto;
    display: block;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
}
.investment-input{
	padding:5% 3%;
	 font-size: 16px;
	background-color:#ffffff;
	margin:5% 0;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}
.investment-input input{
	width: 64%;
    outline: none;
    font-size: 16px;
  	margin-left:5%;
  	border:none;
}
.float-right{
	float:right;
}
.bank-pay{
	padding: 4% 3%;
	background-color:#ffffff;
	border-bottom:1px solid #cccccc;
	border-top:1px solid #cccccc;
}
.bank-pay .word{
	font-size: 18px;
    font-weight: 600;
    background-image: url(../css/images/bank-card.png);
    background-repeat: no-repeat;
    background-position: 22px 50%;
    background-size: 8%;
    margin-top: 3%;
}

/* 交易相关的协议部分 */
/******************协议***********************/
.it, .rd, .rd, .wh {
	padding: 10px;
	background-color: #fff;
	line-height: 22px;
}

.it h4 {
	margin-bottom: 10px;
}

.it .title, .rd .title, .wh .title {
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
}

.it table {
	text-align: center;
}

.it table td {
	width: 50%;
}

.it table td p {
	text-align: left;
}
/******(退出登录)弹框 居中********************************************************************/
.modal-center{
	position: absolute;
    width: 94%;
    top: 50%;
    left: 50%;
    transform: translate(-53.4%,-50%);
    -webkit-transform: translate(-53.4%,-60%);  
}