<!DOCTYPE html>
<html ng-app="income" class="overthrow-enabled ng-scope has-navbar-top">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<style type="text/css">
		@charset "UTF-8";
		[ng\:cloak],
		[ng-cloak],
		[data-ng-cloak],
		[x-ng-cloak],
		.ng-cloak,
		.x-ng-cloak,
		.ng-hide:not(.ng-hide-animate) {
			display: none !important;
		}
		
		ng\:form {
			display: block;
		}
		
		.ng-animate-shim {
			visibility: hidden;
		}
		
		.ng-anchor {
			position: absolute;
		}
	</style>
	<title>固收</title>
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
	<meta name="apple-mobile-web-app-status-bar-style" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" type="image/x-icon" href="https://m.taijs.com/fund-web-app/css/img/favicon.ico;jsessionid=4C26C58C9EF72867C84CC217E9130071">
	<link rel="stylesheet" href="styles/dt-tech/mobile-angular-ui-base.min.css">
	<link rel="stylesheet" href="styles/dt-tech/mobile-angular-ui-hover.min.css">
	<link rel="stylesheet" href="styles/dt-tech/fund.css">
	<link rel="stylesheet" href="styles/dt-tech/exchange.css">
	<link rel="stylesheet" href="styles/dt-tech/global.css">
	<link rel="stylesheet" href="styles/dt-tech/product.css">
</head>

<body ui-prevent-touchmove-defaults="">
	<!-- Navbars -->
	<div class="navbar navbar-app navbar-absolute-top">
		<div class="navbar-brand navbar-brand-center" ui-yield-to="title">
			<span class="ng-scope">固收详情</span>
		</div>
		<div class="btn-group pull-left" ui-yield-to="back">
			<div class="btn sidebar-toggle">
				<i class="fa fa-angle-left" back=""></i>
			</div>
		</div>
		<div class="btn-group pull-right">
			<div class="btn">
				<i class="fa fa-home" home=""></i>
			</div>
		</div>
	</div>

	<!-- App Body -->
	<div class="app-body" ng-class="{loading: loading}">
		<div ng-show="loading" class="app-content-loading ng-hide">
			<i class="fa fa-refresh fa-spin loading-spinner"></i>

		</div>
		<div class="app-content">
			<!--<ng-view></ng-view>-->
			<!-- uiView:  -->
			<div ui-view="" class="ng-scope">



				<!-- 
				<div ui-content-for="right">
				</div>
				 -->
				<div class="scrollable income-info list-group-div ng-scope">
					<div class="scrollable-content">
						<a id="all_to_top"></a>
						<div class="container">
							<div class="row">
								<div class="col-xs-12 ng-binding" ng-bind-html="incomeHtml">
<!-- 吴乐川的正文:起始 -->
<link rel="stylesheet" href="styles/pages/fixed-income-rules.min.css">
<article id="fixed-income-rules">
	<h1>泰金所固收产品介绍 </h1>

	<section>
		<hr>

		<div class="section-title">
			<i class="icon iconfont icon-item-list"></i>
			<h2>产品介绍</h2>
		</div>
		<div class="section-body">
			<dl>
				<dt>产品名称</dt>
				<dd>金黔理财系列B2016069号/B2016070号/B2016071号</dd>

				<dt class="my-dd-inline">产品追加认购最小单位：</dt>
				<dd>
					<span class="hidden">产品追加认购最小单位：</span>
					<span class="digits currency">1000.00</span>元</span>
				</dd>

				<dt>产品管理人</dt>
				<dd>贵州聚盛黔资产管理有限公司</dd>

				<img class="illustrate" alt="泰金所固收理财产品介绍插图1" src="images/pages/article-illustrate-fixed-income-rules-01.png">

				<dt>注册登记服务机构</dt>
				<dd>贵州中黔金融资产交易中心有限公司</dd>

				<dt>发行方式</dt>
				<dd>本产品向黔金所批准入会的并符合《贵州中黔金融资产交易中心有限公司投资者适当性管理制度》的机构会员及个人会员以非公开方式进行发行。</dd>
			</dl>
		</div>
	</section>

	<section>
		<hr>

		<div class="section-title">
			<i class="icon iconfont icon-five-cornered-star-in-ring"></i>
			<h2>产品特点</h2>
		</div>
		<div class="section-body">
			<dl>
				<img class="illustrate" alt="泰金所固收理财产品介绍插图2" src="images/pages/article-illustrate-fixed-income-rules-02.png">

				<dt>优质产品</dt>
				<dd>本期产品基础资产是中天·黔金-应收宝2016B220004资产收益权。</dd>

				<dt>政府扶持</dt>
				<dd>产品注册服务机构黔金所，是贵州省人民政府金融办批准设立的第一家专业金融资产交易平台。</dd>

				<dt>还款有保障</dt>
				<dd>本期产品如应付方未按时足额付款，则由中天城投集团股份有限公司承诺在接到书面通知后一个工作日内将应付款项全额划付至指定产品结算账户。</dd>

				<dt>投资者权益有保障</dt>
				<dd>
					<ol class="indices-in-parentheses">
						<li>设立产品结算账户，用于募集资金和兑付资金的归集和管理</li>
						<li>兑付有保障</li>
						<li>监管募集资金使用，保证募集资金的合规使用</li>
						<li>受托管理人监督本期产品募集资金的具体使用</li>
						<li>严格履行信息披露义务</li>
					</ol>
				</dd>
			</dl>
		</div>
	</section>

	<section>
		<hr>

		<div class="section-title">
			<i class="icon iconfont icon-rmb-sign-in-shield"></i>
			<h2>泰金所独家风控体系</h2>
		</div>
		<div class="section-body">
			<dl>
				<img class="illustrate" alt="泰金所固收理财产品介绍插图3" src="images/pages/article-illustrate-fixed-income-rules-03.png">

				<dt>资金安全保障</dt>
				<dd>交易过程中泰金所不触碰资金，资金流转通过专业的第三方支付机构支付完成。</dd>

				<dt>信息安全保障</dt>
				<dd>泰金所以最严谨认真的态度打造平台系统,确保投资者信息隐私安全。</dd>

				<dt>专业风控优质甄选</dt>
				<dd>风控团队独创甄选模型，对合作机构优中选优。</dd>

				<dt>五重风控层层把关</dt>
				<dd>风控团队经过线上线下多维度严格审核，安全保障措施到位，从源头降低投资风险，充分保障还本付息。</dd>

				<img class="illustrate" alt="泰金所固收理财产品介绍插图4-风险控制流程图" src="images/pages/article-illustrate-fixed-income-rules-04.png">
			</dl>
		</div>
	</section>

	<section class="tip warning investment-risk-warning">
		<hr>

		<div class="section-title">
			<i class="icon iconfont icon-i-in-pie"></i>
			<h2>温馨提示: 投资有风险，理财需谨慎</h2>
		</div>
		<div class="section-body">
			<p>泰金所销售的所有理财产品均为第三方管理机构提供，泰金所不对理财产品业绩做任何保证，投资者应仔细阅读与理财产品相关的法律文件，了解产品风险和收益特征(包括系统风险和特定产品所特有的投资风险等)。</p>
		</div>
	</section>
</article>
<!-- 吴乐川的正文:结束 -->
								</div>
							</div>


							<div class="row tool-footer">
								<div class="col-xs-12">
									<!-- ngIf: !isLogin -->
									<div class="col-xs-7 ng-scope" ng-if="!isLogin">
										<a ng-href="login.html#/login" href="https://m.taijs.com/fund-web-app/customer/login.html#/login">登录</a>|<a ng-href="login.html#/register"
											href="https://m.taijs.com/fund-web-app/customer/login.html#/register">注册</a>
									</div>
									<!-- end ngIf: !isLogin -->
									<!-- ngIf: !isOpenAccount && isLogin -->
									<!-- ngIf: isOpenAccount && isLogin -->

									<div class="col-xs-5">
										<span class="fixed" ng-click="toTop()">
                                        <span class="pull-right">返回顶部</span>
										<div class="toTop pull-right"></div>
										</span>
									</div>
								</div>
							</div>
							<div class="row footer-info">
								<div class="col-xs-12">
									<div class="footer-a pull-right">
										<a ng-click="download()">下载APP</a>|<a ng-href="account.html#/about-us" href="https://m.taijs.com/fund-web-app/customer/account.html#/about-us">关于我们</a>
									</div>
								</div>
							</div>
							<div class="row footer-info-p">
								<div class="col-xs-12">
									<div class="fund-bot">
										<p><a href="tel:400-928-2299">400-928-2299</a></p>
										<span>版权所有 ©2015-2016 泰金所</span>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
	<!-- 引入 弹出框模版 -->


	<!-- 弹出框 组件配置 -->
	<div ui-yield-to="modals"></div>

	<!-- 强制 弹出框 模版-->
	<!-- uiIf: modal1 -->

	<!-- token失效，弹出 登录 提示框-->
	<!-- uiIf: goLogin -->

	<!-- 弱提示框 模版-->
	<!-- uiIf: weekTipModal -->

	<!-- 退出功能 弹出框-->
	<!-- uiIf: logOutModal -->

	<!-- uiIf: confirmModal -->
</body>

</html>