<!DOCTYPE html>
<html ng-app="income" class="overthrow-enabled ng-scope has-navbar-top">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<style type="text/css">
		@charset "UTF-8";
		[ng\:cloak],
		[ng-cloak],
		[data-ng-cloak],
		[x-ng-cloak],
		.ng-cloak,
		.x-ng-cloak,
		.ng-hide:not(.ng-hide-animate) {
			display: none !important;
		}
		
		ng\:form {
			display: block;
		}
		
		.ng-animate-shim {
			visibility: hidden;
		}
		
		.ng-anchor {
			position: absolute;
		}
	</style>
	<title>固收</title>
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
	<meta name="apple-mobile-web-app-status-bar-style" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" type="image/x-icon" href="https://m.taijs.com/fund-web-app/css/img/favicon.ico;jsessionid=4C26C58C9EF72867C84CC217E9130071">
	<link rel="stylesheet" href="styles/dt-tech/mobile-angular-ui-base.min.css">
	<link rel="stylesheet" href="styles/dt-tech/mobile-angular-ui-hover.min.css">
	<link rel="stylesheet" href="styles/dt-tech/fund.css">
	<link rel="stylesheet" href="styles/dt-tech/exchange.css">
	<link rel="stylesheet" href="styles/dt-tech/global.css">
	<link rel="stylesheet" href="styles/dt-tech/product.css">
</head>

<body ui-prevent-touchmove-defaults="">
	<!-- Navbars -->
	<div class="navbar navbar-app navbar-absolute-top">
		<div class="navbar-brand navbar-brand-center" ui-yield-to="title">
			<span class="ng-scope">固收详情</span>
		</div>
		<div class="btn-group pull-left" ui-yield-to="back">
			<div class="btn sidebar-toggle">
				<i class="fa fa-angle-left" back=""></i>
			</div>
		</div>
		<div class="btn-group pull-right">
			<div class="btn">
				<i class="fa fa-home" home=""></i>
			</div>
		</div>
	</div>

	<!-- App Body -->
	<div class="app-body" ng-class="{loading: loading}">
		<div ng-show="loading" class="app-content-loading ng-hide">
			<i class="fa fa-refresh fa-spin loading-spinner"></i>

		</div>
		<div class="app-content">
			<!--<ng-view></ng-view>-->
			<!-- uiView:  -->
			<div ui-view="" class="ng-scope">



				<!-- 
				<div ui-content-for="right">
				</div>
				 -->
				<div class="scrollable income-info list-group-div ng-scope">
					<div class="scrollable-content">
						<a id="all_to_top"></a>
						<div class="container">
							<div class="row">
								<div class="col-xs-12 ng-binding" ng-bind-html="incomeHtml">



<!-- 吴乐川的正文:起始 -->
<div id="fixed-income-rules" class="article" style="font-family: 'Noto Sans S Chinese', 'Microsoft Yahei UI', 'Microsoft Yahei', 'Helvetica', Arial, 'Lucida Grande', 'SimHei', Sans-Serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;

	letter-spacing: 0.1em;
	padding: 0.8em 2em 3em 2em;

	color: #333;
	background-color: white;
	text-align: justify;">
	<h1 style="height: 0;
	overflow: hidden;
	text-align: left;">泰金所固收产品介绍 </h1>

	<section style="font-family: inherit; font-size: inherit; font-weight: inherit;">
		<div class="section-title"
			style="font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			position: relative;
			font-size: 16px;
			letter-spacing: 0.05em;
			margin: 0 auto;
			padding: 1em 0 1em 0.75em;
			color: #157dff;">
			<i class="icon iconfont icon-item-list"
				style="display: block;
				width: 1em;
				height: 1em;
				position: absolute;
				left: 0;
				top: 1em;
				margin: -3px 0 0 -0.75em;
				"></i>
			<h2 style="font-family: inherit; font-size: inherit; font-weight: 700;"
				>产品介绍</h2>
		</div>
		<div class="section-body" style="font-family: inherit; font-size: inherit; font-weight: inherit;"
			>
			<p style="font-family: inherit; font-size: inherit; font-weight: inherit;"
				>融资方成都市融禾现代农业发展有限公司系国有独资企业，AA级发债主体企业担保，地方政府支持，还款来源有保障。</p>
			<p style="font-family: inherit; font-size: inherit; font-weight: inherit;"
				>投资人数上限200人。</p>

			<img class="illustrate" alt="泰金所固收理财产品介绍插图1"
				style="margin-top: 1em auto;"
				src="http://tjs-picture.oss-cn-hangzhou.aliyuncs.com/f2202501-4807-46a3-89a8-e0fb9b544bc3.png?Expires=13918636593&amp;OSSAccessKeyId=oozVOPh5g6Gtlhxa&amp;Signature=9R%2BL9WRLGOGJn0lRBrxhxvFqFtI%3D">

			<dl style="	display: block;
				font-family: inherit;
				font-size: inherit;
				font-weight: inherit;
				clear: both;
				float: none;
				margin: 0 auto;
				width: 100%;
				padding: 0;">
				<dt style="position: relative;
					font-weight: 500;
					margin: 0.5em auto;
					letter-spacing: 0.05em;
					font-family: inherit;
					font-size: 16px;"
					><i style="display: block;
						position: absolute;
						width: 6px;
						height: 6px;
						left: 0;
						top: 7px;
						margin: 0 0 0 -0.75em;
						background-color: #157dff;
						opacity: 0.65;"></i
					>还款保障</dt>
				<dd style="margin: 0.5em auto 1em; font-family: inherit; font-size: inherit; font-weight: inherit;"
					>以政府的财政预算/政府类的应收账款作为还款的保障收益稳定。</dd>

				<dt style="position: relative;
					font-weight: 500;
					margin: 0.5em auto;
					letter-spacing: 0.05em;
					font-family: inherit;
					font-size: 16px;"
					><i style="display: block;
						position: absolute;
						width: 6px;
						height: 6px;
						left: 0;
						top: 7px;
						margin: 0 0 0 -0.75em;
						background-color: #157dff;
						opacity: 0.65;"></i
					>回款方式</dt>
				<dd style="margin: 0.5em auto 1em; font-family: inherit; font-size: inherit; font-weight: inherit;"
					>
					<p style="font-family: inherit; font-size: inherit; font-weight: inherit;"
						>计划到期后1-3个工作日(如遇节假日和周末则顺延)本金和收益自动回款至您的泰金宝账户，到期前暂不支持提前赎回。</p>
					<p class="tip" style="letter-spacing: 0.03em; margin: 1em auto; font-family: inherit; font-weight: inherit; font-size: 12px; line-height: 16px; color: #666;"
						>(注:计划存在提前到期的可能性，若计划提前到期，本金和实际计划期限内的收益将提前自动回款至用户的理财账户。)</p>
				</dd>
			</dl>
		</div>
	</section>

	<section style="font-family: inherit; font-size: inherit; font-weight: inherit;">
		<hr style="margin: 2em auto 1.5em;
			height: 0;
			border-width: 1px 0 0 0;
			border-style: solid;
			border-color: #dedede;
			opacity: 0.5;">

		<div class="section-title"
			style="font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			position: relative;
			font-size: 16px;
			letter-spacing: 0.05em;
			margin: 0 auto;
			padding: 1em 0 1em 0.75em;
			color: #157dff;">
			<i class="icon iconfont icon-five-cornered-star-in-ring"
				style="display: block;
				width: 1em;
				height: 1em;
				position: absolute;
				left: 0;
				top: 1em;
				margin: -3px 0 0 -0.75em;
				"></i>
			<h2 style="font-family: inherit; font-size: inherit; font-weight: 700;"
				>产品特点</h2>
		</div>
		<div class="section-body" style="font-family: inherit; font-size: inherit; font-weight: inherit;"
			>
			<dl style="	display: block;
				font-family: inherit;
				font-size: inherit;
				font-weight: inherit;
				clear: both;
				float: none;
				margin: 0 auto;
				width: 100%;
				padding: 0;">
				<img class="illustrate" alt="泰金所固收理财产品介绍插图2"
					style="margin-top: 0 auto 1em;"
					src="http://tjs-picture.oss-cn-hangzhou.aliyuncs.com/96c37813-8053-4b62-986d-3537e3829af3.png?Expires=13918636602&amp;OSSAccessKeyId=oozVOPh5g6Gtlhxa&amp;Signature=seZi/rwZMRgaV1aOGbLCCHAXKB0%3D">

				<dt style="position: relative;
					font-weight: 500;
					margin: 0.5em auto;
					letter-spacing: 0.05em;
					font-family: inherit;
					font-size: 16px;"
					><i style="display: block;
						position: absolute;
						width: 6px;
						height: 6px;
						left: 0;
						top: 7px;
						margin: 0 0 0 -0.75em;
						background-color: #157dff;
						opacity: 0.65;"></i
					>风险低</dt>
				<dd>
					<ul style="font-family: inherit; font-size: inherit; font-weight: inherit; list-style: none; padding-left: 0;">
						<li style="font-family: inherit; font-size: inherit; font-weight: inherit; list-style: none; padding-left: 0; margin: 0.5em auto;"
							>成都新开元城市建设投资有限公司为融资方融禾现代农业在固收产品项下的偿还贷款本息的义务承担无限连带责任担保；</li>
						<li style="font-family: inherit; font-size: inherit; font-weight: inherit; list-style: none; padding-left: 0; margin: 0.5em auto;"
							>成都市青白江区人大常委会出具同意将融资本息偿还的资金纳入相应年度财政预算的《人大决议》；</li>
						<li style="font-family: inherit; font-size: inherit; font-weight: inherit; list-style: none; padding-left: 0; margin: 0.5em auto;"
							>成都市青白江区财政局财政专项支持：成都市青白江区财政局出具《说明函》，将融资资金纳入政府债务管理。</li>
					</ul>
				</dd>

				<dt style="position: relative;
					font-weight: 500;
					margin: 0.5em auto;
					letter-spacing: 0.05em;
					font-family: inherit;
					font-size: 16px;"
					><i style="display: block;
						position: absolute;
						width: 6px;
						height: 6px;
						left: 0;
						top: 7px;
						margin: 0 0 0 -0.75em;
						background-color: #157dff;
						opacity: 0.65;"></i
					>收益可观</dt>
				<dd style="margin: 0.5em auto 1em; font-family: inherit; font-size: inherit; font-weight: inherit;"
					>预期收益率较银行同期理财产品收益率更为可观。</dd>

				<dt style="position: relative;
					font-weight: 500;
					margin: 0.5em auto;
					letter-spacing: 0.05em;
					font-family: inherit;
					font-size: 16px;"
					><i style="display: block;
						position: absolute;
						width: 6px;
						height: 6px;
						left: 0;
						top: 7px;
						margin: 0 0 0 -0.75em;
						background-color: #157dff;
						opacity: 0.65;"></i
					>期限适中</dt>
				<dd style="margin: 0.5em auto 1em; font-family: inherit; font-size: inherit; font-weight: inherit;"
					>资金使用周期短而快，有利于用户对资金的灵活安排。</dd>
			</dl>
		</div>
	</section>

	<section style="font-family: inherit; font-size: inherit; font-weight: inherit;">
		<hr style="margin: 2em auto 1.5em;
			height: 0;
			border-width: 1px 0 0 0;
			border-style: solid;
			border-color: #dedede;
			opacity: 0.5;">

		<div class="section-title"
			style="font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			position: relative;
			font-size: 16px;
			letter-spacing: 0.05em;
			margin: 0 auto;
			padding: 1em 0 1em 0.75em;
			color: #157dff;">
			<i class="icon iconfont icon-rmb-sign-in-shield"
				style="display: block;
				width: 1em;
				height: 1em;
				position: absolute;
				left: 0;
				top: 1em;
				margin: -3px 0 0 -0.75em;
				"></i>
			<h2 style="font-family: inherit; font-size: inherit; font-weight: 700;"
				>安全保障</h2>
		</div>
		<div class="section-body" style="font-family: inherit; font-size: inherit; font-weight: inherit;">
			<dl style="	display: block;
				font-family: inherit;
				font-size: inherit;
				font-weight: inherit;
				clear: both;
				float: none;
				margin: 0 auto;
				width: 100%;
				padding: 0;">
				<img class="illustrate" alt="泰金所固收理财产品介绍插图3"
					style="margin-top: 0 auto 1em;"
					src="http://tjs-picture.oss-cn-hangzhou.aliyuncs.com/e4b2c959-6a41-495a-a03c-cbb08943a7e3.png?Expires=13918636610&amp;OSSAccessKeyId=oozVOPh5g6Gtlhxa&amp;Signature=w/rZkQ2Fgu/vKUEXuO2/k1Cpa24%3D">

				<dt style="position: relative;
					font-weight: 500;
					margin: 0.5em auto;
					letter-spacing: 0.05em;
					font-family: inherit;
					font-size: 16px;"
					><i style="display: block;
						position: absolute;
						width: 6px;
						height: 6px;
						left: 0;
						top: 7px;
						margin: 0 0 0 -0.75em;
						background-color: #157dff;
						opacity: 0.65;"></i
					>资金安全保障</dt>
				<dd style="margin: 0.5em auto 1em; font-family: inherit; font-size: inherit; font-weight: inherit;"
					>交易过程中泰金所不触碰资金，资金流转通过专业的第三方支付机构支付完成。</dd>

				<dt style="position: relative;
					font-weight: 500;
					margin: 0.5em auto;
					letter-spacing: 0.05em;
					font-family: inherit;
					font-size: 16px;"
					><i style="display: block;
						position: absolute;
						width: 6px;
						height: 6px;
						left: 0;
						top: 7px;
						margin: 0 0 0 -0.75em;
						background-color: #157dff;
						opacity: 0.65;"></i
					>信息安全保障</dt>
				<dd style="margin: 0.5em auto 1em; font-family: inherit; font-size: inherit; font-weight: inherit;"
					>泰金所以最严谨认真的态度打造平台系统，确保投资者信息隐私安全。</dd>

				<dt style="position: relative;
					font-weight: 500;
					margin: 0.5em auto;
					letter-spacing: 0.05em;
					font-family: inherit;
					font-size: 16px;"
					><i style="display: block;
						position: absolute;
						width: 6px;
						height: 6px;
						left: 0;
						top: 7px;
						margin: 0 0 0 -0.75em;
						background-color: #157dff;
						opacity: 0.65;"></i
					>专业风控优质甄选</dt>
				<dd style="margin: 0.5em auto 1em; font-family: inherit; font-size: inherit; font-weight: inherit;"
					>风控团队独创甄选模型，对合作机构优中选优。</dd>

				<dt style="position: relative;
					font-weight: 500;
					margin: 0.5em auto;
					letter-spacing: 0.05em;
					font-family: inherit;
					font-size: 16px;"
					><i style="display: block;
						position: absolute;
						width: 6px;
						height: 6px;
						left: 0;
						top: 7px;
						margin: 0 0 0 -0.75em;
						background-color: #157dff;
						opacity: 0.65;"></i
					>五重风控层层把关</dt>
				<dd style="margin: 0.5em auto 1em; font-family: inherit; font-size: inherit; font-weight: inherit;"
					>风控团队经过线上线下多维度严格审核，安全保障措施到位，从源头降低投资风险，充分保障还本付息。</dd>

				<img class="illustrate" alt="泰金所固收理财产品介绍插图4-风险控制流程图"
					style="margin: 1em auto;"
					src="http://tjs-picture.oss-cn-hangzhou.aliyuncs.com/9b361a5a-de1a-4efc-b4b3-0f34bfd0896b.png?Expires=13918636618&amp;OSSAccessKeyId=oozVOPh5g6Gtlhxa&amp;Signature=jDvHJ%2BHdhCuIbVncEZke6vdSS%2B0%3D">
			</dl>

			<section class="qna" style="font-size: 13px; line-height: 18px; font-family: inherit; font-weight: inherit;">
				<div class="section-body" style="font-family: inherit; font-size: inherit; font-weight: inherit;">
					<dl class="qna" style="font-family: inherit; font-size: inherit; font-weight: inherit;"
						>
						<dt style="position: relative;
							margin: 0.5em auto;
							letter-spacing: 0.05em;
							font-family: inherit;
							font-size: inherit;
							font-weight: inherit;
							color: inherit;"
							>Q: 为何回款至泰金宝账户？</dt>
						<dd style="margin: 0.5em auto 1em; font-family: inherit; font-size: inherit; font-weight: inherit;"
							>A: 泰金宝挂钩货币基金，保障您的收益不止多一点。</dd>
					</dl>
				</div>
			</section>

			<section class="tip warning investment-risk-warning"
				style="font-size: 12px;
				font-family: inherit;
				font-weight: inherit; 
				padding-top: 0.5em;
				padding-bottom: 0.5em;
				line-height: 16px;
				color: #666;">
				<div class="section-title"
					style="font-family: inherit;
					font-size: inherit;
					font-weight: inherit;
					color: #ff9600;
					position: relative;
					letter-spacing: 0.05em;
					margin: 0 auto;
					padding: 0.5em 0 0.5em 0.75em;">
					<i class="icon iconfont icon-i-in-pie"
						style="display: block;
						width: 1em;
						height: 1em;
						position: absolute;
						left: 0;
						top: 0.4em;
						margin: -3px 0 0 -0.75em;
						"></i>
					<h2 style="font-family: inherit; font-size: inherit; font-weight: inherit; font-size: 14px; font-weight: 400;"
						>温馨提示：理财有风险，投资需谨慎！</h2>
				</div>
				<div class="section-body" style="font-family: inherit; font-size: inherit; font-weight: inherit;">
					<p style="font-family: inherit; font-size: inherit; font-weight: inherit; padding-left: 1em; letter-spacing: 0.03em;"
						>泰金所销售的所有理财产品均为第三方管理机构提供，泰金所不对理财产品业绩做任何保证，投资者应仔细阅读与理财产品相关的法律文件，了解产品风险和收益特征(包括系统风险和特定产品所特有的投资风险等)。</p>
				</div>
			</section>
		</div>
	</section>
</div>
<!-- 吴乐川的正文:结束 -->







								</div>
							</div>


							<div class="row tool-footer">
								<div class="col-xs-12">
									<!-- ngIf: !isLogin -->
									<div class="col-xs-7 ng-scope" ng-if="!isLogin">
										<a ng-href="login.html#/login" href="https://m.taijs.com/fund-web-app/customer/login.html#/login">登录</a>|<a ng-href="login.html#/register"
											href="https://m.taijs.com/fund-web-app/customer/login.html#/register">注册</a>
									</div>
									<!-- end ngIf: !isLogin -->
									<!-- ngIf: !isOpenAccount && isLogin -->
									<!-- ngIf: isOpenAccount && isLogin -->

									<div class="col-xs-5">
										<span class="fixed" ng-click="toTop()">
                                        <span class="pull-right">返回顶部</span>
										<div class="toTop pull-right"></div>
										</span>
									</div>
								</div>
							</div>
							<div class="row footer-info">
								<div class="col-xs-12">
									<div class="footer-a pull-right">
										<a ng-click="download()">下载APP</a>|<a ng-href="account.html#/about-us" href="https://m.taijs.com/fund-web-app/customer/account.html#/about-us">关于我们</a>
									</div>
								</div>
							</div>
							<div class="row footer-info-p">
								<div class="col-xs-12">
									<div class="fund-bot">
										<p style="font-family: inherit; font-size: inherit; font-weight: inherit;"
											><a href="tel:400-928-2299">400-928-2299</a></p>
										<span>版权所有 ©2015-2016 泰金所</span>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
	<!-- 引入 弹出框模版 -->


	<!-- 弹出框 组件配置 -->
	<div ui-yield-to="modals"></div>

	<!-- 强制 弹出框 模版-->
	<!-- uiIf: modal1 -->

	<!-- token失效，弹出 登录 提示框-->
	<!-- uiIf: goLogin -->

	<!-- 弱提示框 模版-->
	<!-- uiIf: weekTipModal -->

	<!-- 退出功能 弹出框-->
	<!-- uiIf: logOutModal -->

	<!-- uiIf: confirmModal -->
</body>
</html>